
	<body>
	<!--<div id="fh5co-offcanvas">
		<a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
		<div class="fh5co-bio">
			<figure>
				<img src="../../../assets/img/person1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">Flight</h3>
			<h2>QG</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

		<div class="fh5co-menu">
			<div class="fh5co-box">
				<h3 class="heading">Categories</h3>
				<ul>
					<li><a href="#">All Flight</a></li>
					<li><a href="#">Europe</a></li>
					<li><a href="#">Other</a></li>
				</ul>
			</div>
			<div class="fh5co-box">
				<h3 class="heading">Search</h3>
				<form action="#">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Type a keyword">
					</div>
				</form>
			</div>
		</div>
	</div>

	<header id="fh5co-header">
		
		<div class="container-fluid">

			<div class="row">
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<ul class="fh5co-social">
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
				</ul>
				<div class="col-lg-12 col-md-12 text-center">
					<h1 id="fh5co-logo"><a href="index.html">Hova repüljek? <sup>TM</sup></a></h1>
				</div>

			</div>
		
		</div>

	</header> -->

    <mat-toolbar>
        <mat-form-field style="width: 100%" floatLabel='never'>
        <input  
               matInput 
               [(ngModel)]="searchText" 
               placeholder="Search" 
               autocomplete="off" >
      </mat-form-field>
      </mat-toolbar>

    <div *ngIf="feeds.length > 0"></div>
	<div class="container-fluid">

        <div *ngIf="contentLoading" class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
            
          </div>
          <div *ngIf="contentLoading" class="content-text">Content loading.</div> 

          <div class="card-container">

            <div class="card-container">

                <div *ngFor="let feed of feeds | filter : searchText" class="card">
                  <div class="card-img">
                    <img src="https://picsum.photos/id/237/400/300" alt="Product Image">
                  </div>
                  <div class="card-details">
                    <h1>{{feed.CITY_TO_OUT}}</h1>
                    <div class="card-row">
                      <span class="card-price">Price: {{feed.PRICE}}</span>
                      <span class="card-date">Go: {{feed.DEP_DATE_OUT.substring(0,16)}}</span>
                      <span class="card-date">Back: {{feed.DEP_DATE_BACK.substring(0,16)}}</span>
                    </div>
                    <div class="card-textarea">
                      <p>Lets fly to {{feed.COUNTRY_TO_OUT}} - {{feed.CITY_TO_OUT}} with airline: {{feed.AIRLINE_OUT}} and come back with: {{feed.AIRLINE_BACK}}</p>
                    </div>
                  </div>
                </div>
                
                
              </div>
        

    </div>
</div>

	<footer id="fh5co-footer">
		<p><small>&copy; 2023. Kebodev. All Rights Reserverd.</small></p>
	</footer>

	</body>


